@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');

$font-priamry: 'Gayathri', sans-serif;
$area-dimension: 100px;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}